{%  extends "layout.html" %}

 {%  block title %}Home{%  endblock %}

 {%  block content %}
  <h1>Page 3</h1>

<p><a href="/">Back to home</a></p>

  <p>You should see a canvas element below this paragraph where you can do paper.js stuff.
The code goes in the script element under the canvas element.</p>

<p><button type="button" id="get_SVG_button">Click Me!</button></p>

<canvas id="myCanvas" height="400" width="650"></canvas>

<div>
 <textarea id="put_SVG_here" rows="4" cols="70"></textarea>
</div>

<script type="text/paperscript" canvas="myCanvas">

  function onMouseUp(event) {
    var myPath = new Path();
    myPath.strokeColor = 'black';
    myPath.add(event.downPoint);
    myPath.add(event.point);
  }

</script>

<script type="text/javascript" >

  paper.install(window);

  function getProjectSVG() {  
     return paper.project.exportSVG({asString:true});
  }

  $( document ).ready(function() {
    $('#get_SVG_button').click(function() {
        console.log( "Handler for #get_SVG_button click() called." );
        var svgString = getProjectSVG();
        $("#put_SVG_here").text(svgString); 
   });
  });

</script>

 
 {%  endblock %}
