{%  extends "layout.html" %}

 {%  block title %}Home{%  endblock %}

 {%  block content %}
  <h1>Page 3</h1>

<p><a href="/">Back to home</a></p>

  <p>You should see a canvas element below this paragraph where you can do paper.js stuff.
Look in the <code>script</code> element of <code>/templates/page3.html</code> for the JavaScript
code that makes this example work.</p>

<p>This page illustrates using paperscript together with a small amount of JavaScript.</p>

<p><button type="button" id="get_SVG_button">Get SVG code</button> (you may need to scroll down the page to see it.  It's below the Canvas element.)</p>

<h3>Canvas</h3>
<canvas id="myCanvas" height="400" width="650"></canvas>

<h3>SVG</h3>
<div>
 <textarea id="put_SVG_here" rows="4" cols="70"></textarea>
</div>

<script type="text/paperscript" canvas="myCanvas">

  function onMouseUp(event) {
    var myPath = new Path();
    myPath.strokeColor = 'black';
    myPath.add(event.downPoint);
    myPath.add(event.point);
  }

</script>

<script type="text/javascript" >

  paper.install(window);

  function getProjectSVG() {  
     return paper.project.exportSVG({asString:true});
  }

  $( document ).ready(function() {
    $('#get_SVG_button').click(function() {
        console.log( "Handler for #get_SVG_button click() called." );
        var svgString = getProjectSVG();
        $("#put_SVG_here").text(svgString); 
   });
  });

</script>

 
 {%  endblock %}
